{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}

    <div class="vertical-center"><h2>Reset your password</h2></div>

    <div class="brick brick-narrow">
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="vertical-center">
                    <input type="submit" value="Change password" class="button gray-button">
                </div>
            </form>
        {% else %}
            <p>The link is incorrect. Please try again.</p>
        {% endif %}
    </div>
{% endblock %}