{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="vertical-center"><h2>Forgotten password?</h2></div>

    <div class="brick brick-narrow">
        <p>Enter your e-mail address to obtain a new password.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="vertical-center">
                <input type="submit" value="Send e-mail" class="button gray-button">
            </div>
        </form>
    </div>
{% endblock %}