{% extends "base.html" %}

{% block content %}

    <div class="vertical-center">
        <a href='{% url "add_ticket" %}' class="button green-button big-button">+ Add new ticket</a>
    </div>

    <table>
        <tr>
            <th>ID</th>
            <th>Reporting period</th>
            <th>Type</th>
            <th>Model</th>
            <th>Status</th>
        </tr>

        {% for ticket in tickets %}
        <tr style='cursor: pointer;' onclick="window.location='{% url "ticket_detail" ticket.id %}';">
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.year}} {{ ticket.month }}</td>
            <td>{{ ticket.type }}</td>
            <td>
                {% for model in ticket.model.all %}
                    {{ model }}
                {% endfor %}
            </td>
            <td>{{ ticket.get_status_display }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}