{% extends "base.html" %}
{% block content %}

    <h1>Ticket {{ ticket.id }}</h1>
    <div class="brick">
        <p>
            <span>Status:</span><br>
            <span>{{ ticket.get_status_display }}</span>
        </p>

        <p>
            <span>Reporting date:</span><br>
            <span>{{ ticket.year }}{{ ticket.month }}</span>
        </p>

        <p>
            <span>Models:</span><br>
            <span>
                <ul>
                    {% for model in ticket.model.all %}
                        <li>{{ model }}</li>
                    {% endfor %}
                </ul>
            </span>
        </p>

        <p>
            <span>Type:</span><br>
            <span>{{ ticket.type }}</span>
        </p>

        <p>
            <span>Version:</span><br>
            <span>{{ ticket.version }}</span>
        </p>

        <p>
            <span>History:</span><br>
            <ul>
            <li>created by {{ ticket.created_by.first_name }} {{ ticket.created_by.last_name }} at {{ ticket.created_at }}</li>
            {% if ticket.status > 1 %}
                <li>undertook by {{ ticket.undertook_by.first_name }} {{ ticket.undertook_by.last_name }} at {{ ticket.undertook_at }}</li>
            {% endif %}
            {% if ticket.status > 2 %}
                <li>closed by {{ ticket.closed_by.first_name }} {{ ticket.closed_by.last_name }} at {{ ticket.closed_at }}</li>
            {% endif %}
            </ul>
        </p>

        {% if ticket.status == 1 %}
            <div class="vertical-center">
                <a href="{% url 'undertake_ticket' ticket.id %}" class="button green-button">Undertake task</a>
            </div>
        {% endif %}

        {% if ticket.status == 2 %}
            <div class="vertical-center">
                <a href="{% url 'close_ticket' ticket.id %}" class="button green-button">Close ticket</a>
            </div>
        {% endif %}
    </div>

{% endblock %}