{% extends "base.html" %}
{% block content %}

    <h1>{{ ticket.title }}</h1>
    <div class="brick">
        <p>
            <span class="label">Ticket ID</span><br>
            <span>{{ ticket.id }}</span>
        </p>

        <p>
            <span class="label">Status</span><br>
            {% if ticket.status == 1 %}
                <span style="color: rgba(220, 53, 69, 0.75); font-weight: bold;">{{ ticket.get_status_display }}</span>
            {% elif ticket.status == 2 %}
                <span style="color: rgba(255, 121, 0, 0.75); font-weight: bold;">{{ ticket.get_status_display }}</span>
            {% elif ticket.status == 3 %}
                <span style="color: rgba(11, 102, 35, 0.75); font-weight: bold;">{{ ticket.get_status_display }}</span>
            {% endif %}
        </p>

        <p>
            <span class="label">Reporting date</span><br>
            <span>{{ ticket.year }}{{ ticket.month|stringformat:"02d" }}</span>
        </p>

        <p>
            <span class="label">Models</span><br>
            <ul>
                {% for model in ticket.model.all %}
                    <li>{{ model }}</li>
                {% endfor %}
            </ul>
        </p>

        <p>
            <span class="label">Type</span><br>
            <span>{{ ticket.type }}</span>
        </p>

        <p>
            <span class="label">Version</span><br>
            <span>{{ ticket.version }}</span>
        </p>

        <p>
            <span class="label">Additional information</span><br>
            <span>{{ ticket.information|linebreaks }}</span>
        </p>

        <p>
            <span class="label">History</span><br>
            <ul>
                <li>{{ ticket.created_at|date:'Y-m-d H:i' }} created by
                    {{ ticket.created_by.first_name }} {{ ticket.created_by.last_name }}</li>
            {% if ticket.status > 1 %}
                <li>{{ ticket.undertook_at|date:'Y-m-d H:i' }} undertook by
                    {{ ticket.undertook_by.first_name }} {{ ticket.undertook_by.last_name }}</li>
            {% endif %}
            {% if ticket.status > 2 %}
                <li>{{ ticket.closed_at|date:'Y-m-d H:i' }} closed by
                    {{ ticket.closed_by.first_name }} {{ ticket.closed_by.last_name }}</li>
            {% endif %}
            </ul>
        </p>

        {% if ticket.status == 1 %}
            <div class="vertical-center">
                <a href="{% url 'undertake_ticket' ticket.id %}" class="button green-button">Undertake task</a>
            </div>
        {% endif %}

        {% if ticket.status == 2 %}
            <div class="vertical-center">
                <a href="{% url 'close_ticket' ticket.id %}" class="button green-button">Close ticket</a>
            </div>
        {% endif %}
        <br>

        <hr>

        <h2>Comments</h2>

        <a href="{% url 'add_comment' ticket.id %}" class="button gray-button">Add comment</a>

        {% for comment in ticket.comment_set.all %}
            <p>
                <span class="label">{{ comment.written_at|date:'Y-m-d H:i' }} by {{ comment.written_by }}</span><br>
                <span>{{ comment.message|linebreaks }}</span>
            </p>
        {% endfor %}
    </div>

{% endblock %}