* { box-sizing: border-box;}
a { color: inherit; text-decoration: none; }

html {
    margin: 0;
    font-size: 100%;
    background-color: #fcfcfc;
}

body {
    margin: 0;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.topbar {
    background-color: #343d46;
}

nav, main {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    padding: 8px 0 8px 0;
    color: #fff;
    font-size: 1.2em;
}

nav > a:hover {
    color: #0079c1;
}

.brick {
  background-color: #fff;
  padding: 24px;
  margin-bottom: 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.brick-narrow {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
    font-size: 1.4em;
    text-align: center;
}

/* tables */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: #fff;
}

th {
    background-color: #4f5b66;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 12px;
}

/* buttons */
.button {
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px;
    margin: 20px 4px 2px 4px;
    display: inline-block;
    border: 2px solid;
    font-size: 0.8em;
    font-weight: bold;
}

.green-button {
    border-color: rgba(11, 102, 35, 0.75);
    color: rgba(11, 102, 35, 0.75);
}

.green-button:hover {
    background-color: rgba(11, 102, 35, 0.2);
}

.gray-button {
    border-color: rgba(66, 66, 66, 0.75);
    color: rgba(66, 66, 66, 0.75);
}

.gray-button:hover {
    background-color: rgba(66, 66, 66, 0.2);
}

.big-button {
    font-size: 1em;
    padding: 8px;
    margin: 24px 0 24px 0;
}

/* forms */
select, input[type=text], input[type=password], input[type=email], textarea {
  width: 100%;
}

label {
  font-size: 0.8em;
  color: #666;
  width: 100%;
  display: inline-block;
}


/* utils */
.vertical-center {
    display: flex;
    justify-content: center;
}


.link {
  font-weight: bold;
  font-size: 0.9em;
}

.link:hover {
  color: #0079c1;
  cursor: pointer;
}